html, body {
	font-size: 			12px;
	font-family: 		Segoe ui, Arial;
}

div#header {
	overflow:			hidden;
}

div#info div {
	margin-top: 		2px;
}

div#info a {
	font-weight: 		normal;
	color:				#0065ce;
}

div#container {

}

div.title {
	font-weight: 		bold;
	font-size: 			14px;
}

.error , .success, .information{
	padding: 			5px; 
	width: 				300px; 
	font-size: 			12px;
	color: 				#292829;
}

.success {
	border: 			1px solid #427142; 
	background-color: 	#b5d3b5; 
}

form {
	margin:				0;
	padding:			0;
}

input[type=text], textarea {
	border:				1px solid #aaaaaa;
}

textarea, input[type=text], input[type=submit] {
	padding:			2px;
	font-family:		Segoe UI;
	font-size:			11px;
	border: 			1px solid #aaaaaa;
}

input[type=button]{
	cursor:				pointer;
	border:				1px solid #aaaaaa;
}

input.submitter, input[type=submit], input[type=reset] {
	
	cursor: 			pointer;
	border:				1px solid #c0c0c0;
	background-color:	#eaeaea;
	padding-top:		0;
	cursor:				pointer;
}


img {
	vertical-align: 	bottom;
}

button.q1box {
	border: 			1px solid #1f5b61;
	background-color: 	#b5e3e7;
}

button.q2box {
	border: 			1px solid #004000; 
	background-color: 	#b4d1b6;
}

button.q3box {
	border: 			1px solid #ff4848; 
	background-color: 	#ffa8a8;
}

button.q4box {
	border: 			1px solid #840084;
	background-color: 	#ffc3ce;
}

button.activeqbox, button.qyear {
	border: 			1px solid #b7b700;
	background-color: 	#ffffc4;
}

button.btn {
	border:				1px solid #aaaaaa;
	background-color:	#efebef;
	cursor: 			pointer; 
	padding: 			2px;
	font-weight:		bold;
	font-family:		arial;
	margin-left:		2px;
}

button.btn {
	cursor: 			pointer; 
	padding: 			2px;
	font-weight:		bold;
	font-family:		arial;
	margin-left:		2px;
	border:				1px solid #aaaaaa;
	background-color:	#efebef;
	height:				22px;
	width:				22px;
}

div.btn {
	padding: 			2px;
	font-weight:		bold;
	font-family:		normal;
	margin-left:		2px;
	border:				1px solid #aaaaaa;
	background-color:	#efebef;
}

button.activeqbox, button.q1box, button.q2box, button.q3box, button.q4box {
	cursor: 			pointer; 
	padding: 			2px;
	font-weight:		normal;
	font-family:		arial;
	margin-left:		2px;
	height:				22px;
	width:				25px;
}

button.qyear {
	padding: 			2px;
	font-weight:		normal;
	font-family:		arial;
	height:				22px;
	margin-left:		2px;
}

button.activeqbox:hover, button.q1box:hover, button.q2box:hover, button.q3box:hover, button.q4box:hover, button.btn:hover {
	padding-top:		3px;
	padding-left:		3px;
}

a img {
	text-decoration: 	none;
	border:				none;
}

