div#login_container {

	z-index:			9999;
	position:			fixed;
}

div#login_box {
	width:				400px;
	height:				135px;
	border:				1px solid black;
	background-color:	#d6dbde;
	font-family:		Segoe ui, Arial;
	font-size:			12px;
}

div.add_box {
	background-color:	#d6dbde;
	border:				1px solid black;
}

div.title {
	border-bottom:		1px solid black;
	border-top:			1px solid #4a4d4a;
	border-left:		1px solid #4a4d4a;
	height:				32px;
	background-color: 	#3d3a3d;
	color:				#d6d7d6;
	font-size:			18px;
	font-weight:		normal;
}

div.login {
	padding:			5px;
}

div#login_box  .title img {
	float:				left;
}

div.text {
	position:			relative;
	left:				5px;
	top:				-5px;
	padding-top:		10px;
	height:				30px;
}

input.login{
	border:				1px solid #aaaaaa;
	width:				200px;
	padding:			1px;
	height:				15px;
}

input.submitter{
	border:				1px solid #aaaaaa;
	background-color:	#efebef;
	cursor:				pointer;
	height:				19px;
	font-size:			11px;
	width:				60px;
}

#login_box label {
	display: 			block;
}

#login_container a {
	color:				#0065ce;

}