div.menu {
	border-top:			1px solid #4f4d4f;
	background-color: 	#292829;
	height:				20px;
	border-bottom:		1px solid #d6d3d6;
	padding:			5px 1px 0px 0px;
	color:				#d6d3d6;
	font-family:		Segoe ui;
	font-size:			12px;
	overflow:			hidden;
}

div#header a, div.menu a {
	text-decoration:	none;
	cursor:				pointer;
	color:				#d6d3d6;
	display:			inline;
	padding-right:		5px;
	padding-left:		5px;
}

div#header a:hover, div.menu a:hover {
	color:				#fff;
	text-decoration:	underline;
}

div.menuItems {
	-moz-box-shadow: 	3px 3px 4px #000;     
	-webkit-box-shadow: 3px 3px 4px #000;     
	box-shadow: 		3px 3px 4px #000;    
	/* For IE 8 */    
	-ms-filter: 		"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000')";    
	/* For IE 5.5 - 7 */ 
	filter: 			progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000');
}

button.back {
	position:			absolute;
	right:				5px;
	top:				88px;
	border:				1px solid #848284;
	background-color:	#bdbabd;
	width:				20px;
	height:				20px;
	cursor:				pointer;
	display:			none;
}

button.back img {
	position:		relative;
	top:			-1px;
	left:			-1px;
}

button.back:hover {
	padding-top:		1px;
	background-color:	#aeacae;
}
