body{
	overflow-x: hidden;
}

.chkOrRadio 
{
	width: 2em;
	height: 2em;
}

#topHeader{
	position: relative;
	margin: 0px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	z-index: 1;
	padding: 0px;
	height: 42px;
	background-color: #292829;
	background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(black), color-stop(0.5, #292829), color-stop(0.5, #292829));
	border-bottom: 1px solid #2D3642;
	color: white;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 44px;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
}

#topHeaderButtons {
	position: absolute;
	top: 0px;
	right: 10px;
}

.good_mobile_button
{
	color: #000000;
	border: 1px solid;
	border-left-color: #D9D9D9;
	border-top-color: #D9D9D9;
	border-right-color: darkGray;
	border-bottom-color: darkGray;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	text-align: center;
	display: block;
	background-color: #50C878;
	padding: 0.5em;
	border-bottom: 0;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 1px #BEBEBE;
	cursor: auto;
	font-size: 125%;
	line-height: 150%;
	width: 80%;
	cursor: pointer;
}

.bad_mobile_button
{
	color: #000000;
	border: 1px solid;
	border-left-color: #D9D9D9;
	border-top-color: #D9D9D9;
	border-right-color: darkGray;
	border-bottom-color: darkGray;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	text-align: center;
	display: block;
	background-color: #FE5C5C;
	padding: 0.5em;
	border-bottom: 0;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 1px #BEBEBE;
	cursor: auto;
	font-size: 125%;
	line-height: 150%;
	width: 80%;
	cursor: pointer;
	-webkit-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ rgba(0, 0, 0, .3) /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ rgba(0, 0, 0, .3) /*{global-box-shadow-color}*/;
}

.mobile_button
{
	color: #000000;
	border: 1px solid;
	border-left-color: #D9D9D9;
	border-top-color: #D9D9D9;
	border-right-color: darkGray;
	border-bottom-color: darkGray;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	text-align: center;
	display: block;
	background-color: #F0F0F0;
	padding: 0.5em;
	border-bottom: 0;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 1px #BEBEBE;
	cursor: auto;
	font-size: 125%;
	line-height: 125%;
	width: 80%;
	cursor: pointer;
	-webkit-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ rgba(0, 0, 0, .3) /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ rgba(0, 0, 0, .3) /*{global-box-shadow-color}*/;
}

.file_button
{
	font-size: 18px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 45%;
	position: relative;
	top: -2px;
}

.crew_mobile_button
{
	color: #000000;
	border: 1px solid;
	border-left-color: #D9D9D9;
	border-top-color: #D9D9D9;
	border-right-color: darkGray;
	border-bottom-color: darkGray;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	text-align: center;
	display: inline-table;
	background-color: #F0F0F0;
	padding: 0.5em;
	border-bottom: 0;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 1px #BEBEBE;
	cursor: auto;
	font-size: 125%;
	line-height: 125%;
	cursor: pointer;
	-webkit-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ rgba(0, 0, 0, .3) /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ rgba(0, 0, 0, .3) /*{global-box-shadow-color}*/;
}

.pane{
	border-left-color: #D9D9D9;
	border-top-color: #D9D9D9;
	border-right-color: darkGray;
	border-bottom-color: darkGray;
	width: 70%;
	border: 1px solid black;
	border-radius: 4px;
	overflow:hidden;
	padding: 8px;
}

.tbox{
	width: 99%;
	font-size:125%;
	-moz-border-radius: .6em /*{global-radii-blocks}*/;
	-webkit-border-radius: .6em /*{global-radii-blocks}*/;
	border-radius: .6em /*{global-radii-blocks}*/;
	border: 1px solid gray;
}

.tArea{
	width: 100%;
	font-size:125%;
	-moz-border-radius: .6em /*{global-radii-blocks}*/;
	-webkit-border-radius: .6em /*{global-radii-blocks}*/;
	border-radius: .6em /*{global-radii-blocks}*/;
	border: 1px solid gray;
}

table.carma {
	margin: 0;
	padding: 0;
	border: 1px solid black;
	border: 0;
	font-size: 11px;
	font-size: 110%;
	border: 1px solid black;
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
}

table.carma tr th {
border-bottom: 1px solid black;
}
table.carma tr th, table.carma tr td {
padding: 5px;
vertical-align: top;
}
table.carma th {
padding: 5px;
background-color: #369;
color: white;
font-size: 11px;
}

tr.even{
	background-color:#F0F0F0;
}

tr.odd{
	background-color:#CECECE;
}

div.fancy{
	background-color: white;
    box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,
          0 7px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,
          0 7px 0 rgba(0, 0, 0, .2);
	-webkit-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,
          0 7px 0 rgba(0, 0, 0, .2);
}

div.fancy{
    position: relative;
    z-index: 0;
	text-align: left;
	width: 50%;
	padding: 20px;
	margin-top: 20px;
}

div.fancy:before{
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

div.radio-btn{
	-webkit-appearance: none;
	background-color: #FAFAFA;
	border: 1px solid #A2A2A2;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 2px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
	margin-right: 5px;
	cursor: pointer;
}

div.radio-btn-inner{
	-webkit-appearance: none;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	border: 1px solid #CACECE;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 15px;
	border-radius: 50px;
	position: relative;
}

div.checked{
	background: rgb(169,228,247); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(169,228,247,1) 0%, rgba(15,180,231,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,228,247,1)), color-stop(100%,rgba(15,180,231,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */
}









body {
	background: #fff;
	padding: 0; margin: 0;
}

#holder {
	width: 100%;
}

#holder > div {
	clear: both;
	padding: 2%;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
	float: left;
	width: 96%;
}

label {
	display: inline;
}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}


.big-checkbox + label {
	padding: 18px;
	line-height: 35px;
}

.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 6px;
}

#menuButton {
	position: absolute;
	top: 4px;
	left: 10px;
	width: 20px;
	line-height: 5px;
	font-size: 20px;
	padding: 0px 10px 17px 10px !important;
	font-size: bold !important;
}

#menuButton2 {
	position: absolute;
	top: 11px;
	left: 10px;
}

#menu {
	width: 185px;
	display: none;
	float: left;
	background-color: #353535;
}

#menu h3 {
	line-height: 15px !important;
	font-family: arial;
	font-size: 12px;
	color: white;
	margin: 0;
	background-color: #292829;
	padding: 4px 0 4px 10px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#575757), to(black), color-stop(0.5, #292829), color-stop(0.5, #292829));
	border-top: solid #6B6B6B 1px;
	border-bottom: solid #3D3D3D 1px;
	text-shadow: 0px -1px 1px #333;
}

#menu ul {
	margin: 0;
	padding: 0;
	width: inherit;
}

#menu ul li {
	list-style-type: none;
	margin: 0px 0;
}

.active {
	color: white;
	background-color: #1A1919;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30, 29, 29, 1)), color-stop(0%,rgba(30, 29, 29, 1)));
	text-shadow: 0px 1px 1px black;
}

#menu ul li span.placeHolder{
	border-bottom: solid #0C0909 1px;
	box-shadow: 0 1px 0 #727272;
	color: white;
	font-size: 14px;
	font-family: arial;
	text-decoration: none;
	width: 185px;
	display: block;
	padding: 10px 0px 10px 10px;
	text-shadow: 0px 1px 1px black;
}

#menu ul li a:link, #menu ul li a:visited {
	border-bottom: solid #0C0909 1px;
	box-shadow: 0 1px 0 #727272;
	color: white;
	font-size: 14px;
	font-family: arial;
	text-decoration: none;
	width: 185px;
	display: block;
	padding: 10px 0px 10px 10px;
	text-shadow: 0px 1px 1px black;
}

#menu ul li a:hover, #menu ul li a:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30, 29, 29, 1)), color-stop(0%,rgba(92, 92, 92, 1)));
}

#right {
    width: 100%;
    background-color: #fff;
    z-index: 5;
    position: absolute;
    left: 0px;
	display:inline;
}

.error {
	border: 1px solid #DF8F8F;
	background-color: #FFCECE;
}

.success {
	border: 1px solid #427142;
	background-color: #B5D3B5;
}

.information {
	border: 1px solid #A2B4EE;
	background-color: #DBE3FF;
}

.error, .success, .information {
	padding: 5px;
	width: 70%;
	max-width: 300px;
	font-size: 12px;
	color: #292829;
}

