﻿/* APPLICATION SPECIFIC STYLESHEET */

body {
	font-family: HelveticaNeue-Thin, Helvetica, Verdana, sans-serif;
}
.required {
	color: red;
}
.form-textarea {
	width: 100%;
	height:14em;
}
.short-box { width: 20%; }
.btn-tile
{
	font-size:30px;
	background-color:skyblue;
	color:white;
}

.navbar-white
{
	background-color: #ffffff;
	border-color: #ffffff;
}

.gridStyle {
	border: 0px solid rgb(212,212,212);
	padding-left: 2em;
	padding-right:2em;
	padding-top: 2em;
	width: auto;
	min-width: 20em; 
	min-height: 20em;
	height: auto;
}

.white-bckgrd{
	background-color: #ffffff;
	border-color: #ffffff;
}


.btn-blue{
	background-color:skyblue;
   color:white;
}

.btn-grey{
	background-color:darkgray;
   color:white;
}

tr.spaceUnder > td
{
  padding-bottom: 1em;
}

.full
{
	height:4em;
}
option.ng-dirty.ng-invalid
{

 /* background-color: #FF0000;*/
}

select.ng-dirty.ng-invalid
{
 /*background-color: #FF0000;*/
}

.questions {
    margin-left: 15px;
}

.btn-info:hover, 
.btn-info:focus,
.btn-info:active, 
.btn-info.active, 
.open .dropdown-toggle.btn-info
{
	background-color: #3276b1;
    border-color: #285e8e;
    color: #fff;
}

/*For Menu / Navigation Styles*/
.navbar-default {
  background-color: #428bca;
  border-color: #357ebd;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #428bca;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ecdbff;
  background-color: #357ebd;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #357ebd;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ecdbff;
  background-color: #357ebd;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #357ebd;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #357ebd;
}
.navbar-default .navbar-toggle {
  border-color: #357ebd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #357ebd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #357ebd;
  }
}