div.header2 {
	padding:			3px;
	border:				1px solid #000;
	margin-top:			1px;
	background-color:	#c5c5c5;
	position:			relative;
	font-weight: bold;
}
span.right {
	position:			absolute;
	right:				5px;
	bottom:				2px;
	cursor:				pointer;
	font-size:			11px;
	font-weight:		bold;
	border:				1px solid transparent;
	padding-top:			1px;
	padding-bottom:			1px;
	padding-right:			3px;
	padding-left:			3px;
}

span.hover {
	cursor:				pointer;
	font-size:			11px;
	font-weight:		bold;
	border:				1px solid transparent;
	padding-top:			1px;
	padding-bottom:			1px;
	padding-right:			3px;
	padding-left:			3px;
}
span.right img, span.hover img {
	position:			relative;
	top:				2px;
	width:				12px;
	height:				11px;
}
span.right:hover, span.hover:hover {
	border-top:				1px solid #e0e0e0;
	border-left:			1px solid #e0e0e0;
	border-bottom:			1px solid #969696;
	border-right:			1px solid #969696;
}
div#measures span.right { 
	font-size: 				10px; 
}

div.content {
	border: 			0px solid #aaa; 
	background-color: 	#f0f0f0; 
	padding-top: 		5px;
	
}

input[type=text] {
	border:				1px solid #000;
}

textarea {
	border:				1px solid #000;
	overflow:			hidden;
	height:				60px;
}

textarea.disabled {
	background-color:	#aaaaaa;
}


div#persons div {
	position:			relative;
}

td.header-group {
	font-weight: bold;
	text-align: right;
	padding-top: 15px;
	padding-right: 5px;
}


span.help {
	font-size: 10px;
	color: gray;
}

table.stormduty  {
	width: 800px;
	margin-top: 0px;
}
table.stormduty td {
	display: table-cell;
}
table.stormduty  textarea{
	width: 695px;
	height: 40px;
}

td.radio, th.radio {
	width: 30px;
}
td.question, th.question {
	width: 710px;
}

table.stormduty th {

}

.center {
	text-align: center;
}

input[type=text].error , textarea.error {
	border: 1px solid red;
}