html, body {
	font-size:		12px;
	font-family:	Arial;
	text-align:		center;
}

div#container {
	text-align: 	left;
	margin-top:		5px;
	width:			800px;
}

div.header {
	text-align: 	center;
	margin-top:		5px;
	font-size:		14px;
	font-weight:	bold;
	padding:		5px 0px 5px 0px;
	width:			800px;
	border-top:		2px solid #cecfce;
	border-bottom:	2px solid #cecfce;
}

input[type=text] {
	border:			1px solid #aaaaaa;
	/*width:			200px;*/
}

textarea {
	border:			1px solid #aaaaaa;
	font-size:		12px;
	font-family:	Arial;
	width:			200px;
}

select{
	border:			1px solid #aaaaaa;
	width:			205px;
}

table {
	border-collapse:	collapse;
	margin-top:			10px;
	font-size:			12px;
}

td {
	border: 			0px solid gray;
}

tr.even {
	background-color:	#ededed;
}

tr.odd {
	background-color:	#f0f0f0;
}

button, input[type=submit]{
	border:				1px solid #aaaaaa;
	background-color:	#efebef;
	cursor:				pointer;
}

span.radio_box{
	border:			1px solid #aaa;
	padding-right:	6px;
	padding-left:	6px;
}

.form_warning {
	background-color: 	#ffd7d7; 
	border: 			1px solid red; 
	padding: 			3px 0px 3px 0px; 
	margin-top: 		1px; 
	width: 				798px; 
	color: 				red; 
	word-wrap:			break-work; 
	font-size: 			10px; 
	font-weight: 		bold;
	margin:				0 auto;
}


@media print {
  #print {
    display: none;
  }
}