
html, body {
	font-size: 			12px;
	font-family: 		Segoe ui, Arial, Sans Serrif;
}


div#header {
	overflow:			hidden;
}

div#info div {
	margin-top: 		2px;
}

div#info a {
	font-weight: 		normal;
	color:				#0065ce;
}

div#container {
	
}

div.title {
	font-weight: 		bold;
	font-size: 			14px;
}

.error , .success, .information{
	padding: 			5px; 
	width: 				300px; 
	font-size: 			12px;
	color: 				#292829;
}

.attention {
	border:				1px solid #e6db55;
	background-color:	#fffbcc;
}

.information {
	border:				1px solid #a2b4ee;
	background-color:	#dbe3ff;
}

.success {
	border:				1px solid #427142;
	background-color:	#b5d3b5;
}

.error {
	border:				1px solid #df8f8f;
	background-color:	#ffcece;
}

form {
	margin:				0;
	padding:			0;
}

input[type=text], textarea {
	border:				1px solid #aaaaaa;
}

textarea, input[type=text], input[type=submit] {
	padding:			2px;
	font-family:		Segoe UI;
	font-size:			11px;
	border: 			1px solid #aaaaaa;
}

input[type=button]{
	cursor:				pointer;
	border:				1px solid #aaaaaa;
}

input.submitter, input[type=submit], input[type=reset] {
	
	cursor: 			pointer;
	border:				1px solid #c0c0c0;
	background-color:	#eaeaea;
	padding-top:		0;
	cursor:				pointer;
}


img {
	vertical-align: 	bottom;
}

button.q1box {
	border: 			1px solid #1f5b61;
	background-color: 	#b5e3e7;
}

button.q2box {
	border: 			1px solid #004000; 
	background-color: 	#b4d1b6;
}

button.q3box {
	border: 			1px solid #ff4848; 
	background-color: 	#ffa8a8;
}

button.q4box {
	border: 			1px solid #840084;
	background-color: 	#ffc3ce;
}

button.activeqbox{
	border: 			1px solid #b7b700;
	background-color: 	#ffffc4;
}

button.btn {
	border:				1px solid #aaaaaa;
	background-color:	#efebef;
	cursor: 			pointer; 
	padding: 			2px;
	font-weight:		bold;
	font-family:		arial;
	margin-left:		2px;
}

button.btn {
	cursor: 			pointer; 
	padding: 			2px;
	font-weight:		bold;
	font-family:		arial;
	margin-left:		2px;
	border:				1px solid #aaaaaa;
	background-color:	#efebef;
	height:				22px;
	width:				22px;
}

div.btn {
	padding: 			2px;
	font-weight:		bold;
	font-family:		normal;
	margin-left:		2px;
	border:				1px solid #aaaaaa;
	background-color:	#efebef;
}

button.activeqbox, button.q1box, button.q2box, button.q3box, button.q4box {
	cursor: 			pointer; 
	padding: 			2px;
	font-weight:		normal;
	font-family:		arial;
	margin-left:		2px;
	height:				22px;
	width:				25px;
	font-size:			12px;
}

button.qyear {
	padding: 			2px;
	font-weight:		normal;
	font-family:		arial;
	height:				22px;
	margin-left:		2px;
	border: 			1px solid #aaa;
	background-color: 	#fff;
}

button.activeqbox:hover, button.q1box:hover, button.q2box:hover, button.q3box:hover, button.q4box:hover, button.btn:hover {

}

a img {
	text-decoration: 	none;
	border:				none;
}

button, input[type=submit]{
	border:				1px solid #aaaaaa;
	background-color:	#efebef;
	cursor:				pointer;
	font-size:			11px;
}

@media print {
  .menu, #header, form, #header_expander, #menu_divider, #print {
    display: none;
  }
}

div#header a {
	color:	#639ace;
}

div.header {
	width:			1200px;
	margin-left: 	5px;
	margin-bottom:	1px;
	border: 		1px solid #000;
	position:		relative;
	background-color:	#d8d8d8;
}

div.header div.caption {
	padding:		5px;
	border-left:	1px solid #f0f0f0;
	border-top:		1px solid #f0f0f0;
	cursor:			pointer;
	position:		relative;
}

div.header div.count {
	position:		absolute;
	right:			0px;
	top:			0px;
	text-align:		center;
	width:			28px;
	height:			100%;
	border-left:	1px solid #000;
	background-color: #b5cfe8;
}

div.header div.excel {
	position:		absolute;
	right:			28px;
	top:			0px;
	text-align:		center;
	width:			28px;
	height:			100%;
	border-left:	1px solid #000;
	background-color: #b5cfe8;
	
	cursor:			pointer;
}

div.header div.excel img {
	width:			12px;
	height:			12px;
	
}

span.toggle img {
	margin-right:	5px;	
}
span.toggle {
	position: 		relative;
	top:			-2px;
}

div.activity {
	width:		1200px;
	border:		1px solid #000;
	margin-bottom: 1px;
	margin-left: 5px;
	background-color: #eff4fa;
}

span.new {
	margin-bottom: 1px; 
	padding-right: 1px; 
	padding-left: 1px; 
	border: 1px solid #000; 
	background-color: #81d700; 
	font-size: 10px;
	

}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #ffffff;
	padding: 20px;
	border: 2px solid #565656;
	width: 60%;
	max-width:960px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	overflow:hidden;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	font-size: 28px;
	font-weight: bold;
	margin-top: -10px;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.shadow{
	transition: 0.1s ease all;
	background-color: none !important;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	z-index:99;

}

.shadow:hover {
	transition: 0.1s ease all;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
	z-index:999;
}
.meter {
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
	display: block;
	height: 100%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	background-image: linear-gradient(
			center bottom,
			rgb(43,194,83) 37%,
			rgb(84,240,84) 69%
	);
	box-shadow:
			inset 0 2px 9px  rgba(255,255,255,0.3),
			inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}