div.menu {
	border-top:			1px solid #4f4d4f;
	background-color: 	#292829;
	height:				20px;
	border-bottom:		1px solid #d6d3d6;
	padding:			5px 1px 0px 0px;
	color:				#d6d3d6;
	font-family:		Segoe ui;
	font-size:			12px;
	overflow:			hidden;
}

div.menu a {
	text-decoration:	none;
	cursor:				pointer;
	color:				#d6d3d6;
	display:			inline;
	padding-right:		5px;
	padding-left:		5px;
}

div#header a:hover, div.menu a:hover {
	color:				#fff;
	text-decoration:	underline;
}

#back  {
	position:			absolute;
	right:				15px;
}

/*
button.back  {
	position:			relative;
	top:				-18px;
	right:				15px;
	padding-top:		-3px;
	width:				22px;
	height:				20px;
	float:				right;
}
*/
