table {
	border-collapse:	collapse;
}

table.tbl {
	border: 			1px solid #000;
	border-collapse: 	collapse;
	font-size: 			12px;
	margin-bottom: 		10px;
	margin:				5px;
}
.tbl th {
	background-color:	#6598cb; 
	vertical-align: 	top;
	padding:			0px;
	border: 			1px solid #000;
	font-weight: 		normal;
	height:				20px;
}

.tbl th.double {
	height:				35px;
}
/*
.tbl .header td {
	background-color: 	#6598cb;
	border: 			1px solid black;
	padding: 			5px;
	font-weight:	 	normal;
}
*/
.tbl th div.inner {
	background-color:	transparent;
	border-left:		1px solid #b5cfe8;
	border-top:			1px solid #b5cfe8;
	padding:			3px;
	height:				100%;
}

.tbl th div.inner_title {
	background-color:	#98b9de;
	border-left:		1px solid #dedede;
	border-top:			1px solid #dedede;
	padding:			3px;
	height:				100%;
}

.tbl td {
	text-align: 		center;
	border-right: 		1px solid #000;
	padding: 			2px;
	word-break:			hyphenate;
	word-wrap:			break-word;
}


.tbl tr.even {
	background-color: 	#cecece;
}

.tbl tr.odd {
	background-color: 	#f0f0f0;
}

.tbl tr.active {
	background-color: 	#ffffca;
}

.tbl tr {
	background-color:	#e6eef7;
}

.tbl td a {
	color:				#0065ce;
	text-decoration:	none;
}

table.tbl.hover tr.even:hover, table.tbl.hover tr.odd:hover {
	background-color:	#ffffc4;
}

td {
	word-break: break-word;
	margin-right: 5px;
}